@import '../../breakpoints';
@import '../../index';

.modal {
  position: absolute;
  z-index: 500;
  background-color: white;
  width: 90%;
  box-shadow: 1px 1px 1px black;
  left: 5%;
  top: 1.25%;
  max-width:900px;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.3s ease-out;
  outline: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  header {
    background-color: var(--color-accent);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5rem 1rem !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;



    h2 {
      margin:0;
      flex-grow: 1;
    }

    .close-button {
      @extend .animated-link;
      
      background-color: transparent;
      border: none;
      border-radius: 4px;
      color: white;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 0.75rem;

      &::after {
        background-color: var(--color-white);
      }
    }
  }

  section {
    display: grid;
    padding: .5rem;
    max-height: 75dvh;

    overflow-y: auto;


    article {
      color: var(--color-page);
      padding: 1rem;

      h3 {
        font-size: 1.75rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin: 0 0 1rem 0;
      }

      p {
        font-size: 1rem;
        line-height: 1.25rem;
      }

      ul {
        margin: 0 0 2rem 0;
        li {
          &::marker {
            content: '▸ ';
            font-size: 1.25rem;
            color: var(--color-accent);
          }

          font-size: 1rem;
          font-weight: 600;
          line-height: 1rem;
          padding-top:.5rem;
        }
      }

      .tag-list {
        display:flex;
        flex-wrap: wrap;
      }
    }

    .primary-image {
      overflow-y: auto;
      display: flex;

      img {
        width: 100%;
      }
    }
  }

  footer {
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    button {
      position: relative;
      background-color: transparent;
      color: white;
      border: none;
      padding: .5rem 1rem;
      line-height: 0.75rem;
      font-size: 1rem;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &:focus {
        outline: none;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}


@media (min-width: $device-sm) {
  .modal {
    section {
      &.portrait {
        grid-template-columns: 1fr 1fr;
      }

      &.landscape {
        grid-template-columns: 1fr;
      }

      article {
        .tag-list {
          justify-content: flex-start;
        }
      }

      .primary-image {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
}
