@import '../../breakpoints';

.card-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: $device-sm){
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

@media (min-width: $device-md){
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
