@import '../../breakpoints';

.home {
  background-color: var(--color-white);
  width: 80%;
  margin: .5rem auto;
  border-radius: 4px;
  padding: 1rem;
  display: grid;
  box-shadow: var(--shadow);

  h1 {
    color: var(--color-page);
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
  }

  article {
    display: grid;
    font-size: 1.25rem;
    line-height: 1.5rem;
    justify-items: end;

    section {
      display: grid;

      p {
        color: var(--color-page);

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  img {
    outline: 3px solid var(--color-accent);
    width: 100%;
  }

}

aside {
  color: var(--color-page-link);
  width: 80%;
  margin: 0 auto;
  font-size: .85rem;

  a {
    color: var(--color-page-link);
  }

  small {
    font-size: .85rem;
    white-space: nowrap;
  }
}

@media (min-width: $device-sm) {
  .home {
    article {
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
    }
    img {
      max-width: 250px;
    }
  }
}

@media (min-width: $device-md) {
  .home, aside {
    width: 70%;
  }
}
