.home {
  background-color: var(--color-white);
  max-width: 50%;
  margin: 2rem auto;
  border-radius: 4px;
  padding: 1rem;
  display: flex;

  article {
    margin-right: 1rem;
  }

  img {
    max-width: 200px;
  }

}
