.card {

  background-color: var(--color-white);
  margin: .5rem 0 0 0;
  padding: .5rem;
  cursor: pointer;
  outline: solid 0px var(--color-accent);
  transition: outline 0.15s ease-out;
  box-shadow: var(--shadow);

  // &:has(.thumbnail:focus, .thumbnail:hover) {
  //   outline: solid 3px var(--color-accent);
  // }

  .thumbnail {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
