@import 'breakpoints';

body {
  
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-page);

  .App {

    max-width: 1200px;
    margin:0 auto;

    header {
      background-color: var(--color-accent);
      padding: 5px;
      display: flex;
      justify-content: center;
      max-width: 900px;
      margin: 0 auto;

      .logo-mobile, .logo-desktop {
        width: 90%;
        max-width: 900px;
      
      }

      .logo-desktop {
        display: none;
      }
    }

    nav {
      display: flex;
      //justify-content: center;
      max-width: 900px;
      width: 90%;
      margin: 0 auto;
      background-color: green;
    }
  }

}

@media (min-width: $device-xs) {
  body {
    .App {
      header {
        .logo {
          background-image: var(--title);
          background-size: contain;
          background-position: bottom center;

          min-height: 50px;
        }
      }
    }
  }
}

@media (min-width: $device-sm) {
  body {
    .App {
      header {
        .logo-mobile {
          display: none;
        }

        .logo-desktop {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $device-md) {
  body {
    .App {
      header {
        .logo {
          min-height: 70px;
        }
      }
    }
  }
}

@media (min-width: $device-lg) {
  body {
    .App {
      header {
        .logo {
          min-height: 80px;
        }
      }
    }
  }
}
