:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-page: #585858;
  --color-page-link: #d1d1d1;
  --color-accent: #f99f1c;

  --shadow: 2px 2px 4px #000000;

}

.animated-link {
  position: relative;
  display: inline-block;
  color: var(--color-accent);
  text-decoration: none;
  padding-bottom: 0.25rem;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &:focus {
    outline: none;

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

a {
  @extend .animated-link;
}
